.genre__content {
    color: white;
    // width: 20%;
    margin: 0 auto;
    .btn__group {
        display: flex;
        align-items: flex-end;
        margin: 10px 0px;
    }
    // table {
    //     width: 100%;
    //     tr {
    //         border-bottom: 1px solid lightgray;
    //     }
    //     thead {
    //         width: 20%;
    //         td {
    //             font-weight: bold;
    //         }
    //     }
    //     td {
    //         padding: 20px 0px;
    //         width: 20%;
    //         a {
    //             color: white;
    //         }
    //     }
    // }
}
.genre_admin {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 10vh 0;

    h1 {
        color: white !important;
    }

    .genre_admin_table {
        width: 90%;
        border-collapse: collapse;
        // background-color: #fff;

        td, th {
        border: 1px solid #ddd;
        padding: 8px;
        }
    }
}