.register {
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .step {
        padding: 1.25rem  2rem;
	}
} 

.Footer_footer__main__VquXA {
    background-color: #fff !important;
}