.one {
    width: 100%;
    color: #fff;
    
    &_item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem 5%;
        border-bottom: 0.5rem solid #222;
        overflow: hidden;

        &_text {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        @media (max-width: 1000px) {
            &_text {
                width: 100%;
                padding: 0.375rem 3rem;
                text-align: center;
            }
        }

        &_media {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media (max-width: 1000px) {
            &_media {
                width: 100%;
                padding: 0.375rem 3rem;
            }
        }
    }

    @media (max-width: 1000px) {
        &_item {
            flex-direction: column;
        }
    }
    
    &_title {
        font-size: 3rem;
        line-height: 1.1;
        margin-bottom: 0.5rem;
        text-align: center;
    }
    
    @media (max-width: 600px) {
        &_title {
            font-size: 2.25rem;
        }
    }
    
    &_subtitle {
        font-size: 1.625rem;
        font-weight: normal;
        line-height: normal;
        text-align: center;
    }

    @media (max-width: 600px){
        &_subtitle {
            font-size: 1.125rem;
        }
    }
        
    &_image {
        max-width: 100%;
        height: auto;
    }
}