.zero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    border-bottom: 0.375rem solid rgb(34, 34, 34);
    background-image: url("/backgroud-image.jpg");

    
    &_title {
        color: #fff;
        margin: auto;
        max-width: 40rem;
        margin: 0.625rem 0;
        
        &_h1 {
            font-size: 3rem;
            font-weight: 500;
        }
        &_h2 {
            font-size: 2.2rem;
            font-weight: 500;
        }

        &_h3 {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}