.register_button {   
    height: 3rem;
    width: 50%;
    margin-top: 2rem; 
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #e50914;  
    font-size: 1.5rem;
    border: 0;
    cursor: pointer;
    user-select: none;
    letter-spacing: .025rem;

    @media (max-width: 595px) {
        height: 2.5rem;
        width: 60%;
        margin-top: 1.5rem; 
        padding: 0 1rem;
        font-size: 1.125rem;
    }
}