.header_toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;

    @media (max-width: 595px) { 
        padding: 0 1rem  ;
    }
    .header_toolbar_button {
        width: fit-content;
        padding: 0.5rem 1rem;
        border: none;
        box-sizing: border-box;
        border-radius: 0.125rem;
        color: #fff;
        background-color: #E50914;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;

        @media (max-width: 595px) {
            padding: 0.5rem;
            font-size: 0.75rem;
        }
    }
}