.checkbox_input {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    label {
        color: #fff;
        margin-right: 1.5rem;
    }
    
    input { 
        cursor: pointer;
    }
}